Repository sheidaee/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/team-calypso, @Automattic/zelda, @Automattic/luna, @Automattic/serenity, @Automattic/cylon, @Automattic/ajax, @Automattic/payments, @Automattic/reader, @Automattic/type-review, @Automattic/catalyst

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Root level files and configuration
/*.* @Automattic/team-calypso

# Scripts
/bin @Automattic/team-calypso

# Client initialization
/client/boot @Automattic/team-calypso

# Client blocks
/client/blocks/inline-help @Automattic/zelda

# Client state
/client/state/jetpack-connect @Automattic/luna
/client/state/signup @Automattic/zelda

# Client components
/client/components/site-verticals-suggestion-search @Automattic/zelda

# Client framework parts
/client/config @Automattic/team-calypso
/client/controller @Automattic/team-calypso
/client/document @Automattic/team-calypso
/client/layout @Automattic/team-calypso

# Client sites
/client/my-sites/checklist @Automattic/zelda

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Developer guides
/docs/coding-guidelines @Automattic/team-calypso
/docs/guide @Automattic/team-calypso
/docs/testing @Automattic/team-calypso

# Gutenberg editor (Gutenframe)
/client/gutenberg @Automattic/serenity @Automattic/cylon @Automattic/ajax

# Jetpack Connect
/client/jetpack-connect @Automattic/luna

# Payments
/client/blocks/credit-card-form/ @Automattic/payments
/client/blocks/payment-methods/ @Automattic/payments
/client/blocks/subscription-length-picker/ @Automattic/payments
/client/components/credit-card/ @Automattic/payments
/client/components/credit-card-form-fields/ @Automattic/payments
/client/components/payment-country-select/ @Automattic/payments
/client/components/payment-logo/ @Automattic/payments
/client/lib/cart/ @Automattic/payments
/client/lib/cart-values/ @Automattic/payments
/client/lib/checkout/ @Automattic/payments
/client/lib/siftscience/ @Automattic/payments
/client/lib/simple-payments/ @Automattic/payments
/client/lib/store-transactions/ @Automattic/payments
/client/lib/stripe/ @Automattic/payments
/client/lib/transaction/ @Automattic/payments
/client/lib/upgrades/ @Automattic/payments
/client/me/billing-history/ @Automattic/payments
/client/me/memberships/ @Automattic/payments
/client/me/pending-payments/ @Automattic/payments
/client/me/purchases/ @Automattic/payments
/client/my-sites/checkout/ @Automattic/payments
/client/state/billing-transactions/ @Automattic/payments
/client/state/memberships/ @Automattic/payments
/client/state/order-transactions/ @Automattic/payments
/client/state/plans/ @Automattic/payments
/client/state/receipts/ @Automattic/payments
/client/state/simple-payments/ @Automattic/payments
/client/state/stored-cards/ @Automattic/payments
/client/state/sites/plans/ @Automattic/payments

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Server infrastructure
/server @Automattic/team-calypso

# Signup
/client/signup @Automattic/zelda

# Test infrastructure
/test @Automattic/team-calypso

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# G Suite
/client/blocks/gsuite-stats-nudge @Automattic/catalyst
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/catalyst
/client/components/upgrades/gsuite @Automattic/catalyst
/client/lib/domains/email-forwarding @Automattic/catalyst
/client/lib/domains/google-apps-users @Automattic/catalyst
/client/lib/gsuite @Automattic/catalyst
/client/my-sites/domains/components/domain-warnings @Automattic/catalyst
/client/my-sites/email @Automattic/catalyst

# FSE (Full Site Editing)
/apps/full-site-editing @Automattic/serenity @Automattic/cylon @Automattic/ajax

# WPcom Block Editor
/apps/wpcom-block-editor @Automattic/serenity @Automattic/cylon @Automattic/ajax

CreditCardFormFields: Default phone country to US
  client/components/credit-card-form-fields/index.jsx
Owners: @Automattic/payments

send the phone number when calling createStripePaymentMethod() if we have it
  client/lib/store-transactions/index.js
Owners: @Automattic/payments

abtest: Add checkoutCollectPhoneNumber test
  client/lib/abtest/active-tests.js
Owners: none

FormPhoneMediaInput: Add children prop
  client/components/forms/form-phone-media-input/index.jsx
Owners: none

CreditCardFormFields: Show field only for abtest
  client/components/credit-card-form-fields/index.jsx
Owners: @Automattic/payments

chore(deps): update typescript-eslint monorepo to v2
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

Add login entrypoint.
  client/controller/index.node.js
  client/controller/index.web.js
  client/landing/login/common.js
  client/landing/login/index.js
  client/landing/login/store.js
  client/layout/logged-out.jsx
  client/login/index.node.js
  client/login/index.web.js
  client/sections.js
  server/pages/index.js
  webpack.config.js
Owners: @Automattic/team-calypso

Move WPCOM code away from the FSE plugin
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template.php
Owners: @Automattic/serenity, @Automattic/cylon, @Automattic/ajax

Check if the filter hook exists
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template.php
Owners: @Automattic/serenity, @Automattic/cylon, @Automattic/ajax

Remove trivial references to paygate
  client/jetpack-connect/test/lib/plans.js
  client/lib/cart/store/index.js
  client/lib/cart/store/test/fixtures/actions.js
  client/lib/purchases/test/assembler.js
Owners: @Automattic/luna, @Automattic/payments

fix(deps): update babel monorepo
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

Dummy PR to use for Horizon e2e testing.
  test/e2e/docs/style-guide.md
Owners: @Automattic/team-calypso

chore(deps): update dependency @types/lodash to v4.14.140
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

initial commit replacing the blank canvas skip setup functionality with a 'starter site', consisting of a top-performing segment/vertical combination See: p8Eqe3-KU-p2#comment-2274
  client/lib/abtest/active-tests.js
  client/signup/config/flows-pure.js
  client/signup/steps/site-type/index.jsx
  client/signup/steps/site-type/style.scss
Owners: @Automattic/zelda

We're not setting the vertical to 'travel' anymore as it's too specific for the wider audience we're aiming for.
  client/signup/steps/site-type/index.jsx
Owners: @Automattic/zelda

chore(deps): pin dependencies
  apps/full-site-editing/package.json
Owners: @Automattic/serenity, @Automattic/cylon, @Automattic/ajax

chore(deps): lock file maintenance
  npm-shrinkwrap.json
Owners: @Automattic/team-calypso

initial commit
  client/lib/abtest/active-tests.js
  client/lib/signup/step-actions.js
  client/lib/wpcom-undocumented/lib/undocumented.js
  client/signup/config/flows.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/steps/create-account/index.tsx
  client/signup/steps/create-account/style.scss
Owners: @Automattic/zelda

UPdating copy Adding terms of service link
  client/signup/config/step-components.js
  client/signup/steps/create-account/index.tsx
  client/signup/steps/create-account/style.scss
Owners: @Automattic/zelda

Refactor the userEmailOnboard wpcom call to use a Promise Removed useless comment (the arg is no longer in use) Adding tracks and tightening up the form value validation
  client/lib/signup/step-actions.js
  client/signup/config/flows.js
  client/signup/config/steps-pure.js
  client/signup/steps/create-account/index.tsx
  client/signup/steps/create-account/style.scss
  client/signup/steps/user/index.jsx
  client/signup/utils.js
Owners: @Automattic/zelda

Render notice if the user is logged in
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/passwordless.jsx
  client/blocks/signup-form/style.scss
  client/lib/abtest/active-tests.js
  client/lib/signup/step-actions.js
  client/signup/config/flows.js
  client/signup/config/step-components.js
  client/signup/config/steps-pure.js
  client/signup/steps/create-account/index.tsx
  client/signup/steps/create-account/style.scss
Owners: @Automattic/zelda

Ensure that the button text changes if submitting the form
  client/blocks/signup-form/index.jsx
  client/blocks/signup-form/passwordless.jsx
Owners: none

Passing correct props. Checking for queryArgs via get to suppress catch error
  client/blocks/signup-form/index.jsx
  client/lib/signup/step-actions.js
Owners: none

Rolling the variant cohort back to 10 per cent
  client/blocks/signup-form/index.jsx
  client/lib/abtest/active-tests.js
Owners: none

bumped test date
  client/lib/abtest/active-tests.js
Owners: none
