Repository sheidaee/wp-calypso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Automattic/team-calypso, @Automattic/zelda, @Automattic/luna, @Automattic/serenity, @Automattic/cylon, @Automattic/ajax, @Automattic/payments, @Automattic/reader, @Automattic/type-review, @Automattic/catalyst

.github/CODEOWNERS:

# We use codeowners to help keep teams in the loop on changes to code
# they typically work on. Even though this file is called CODEOWNERS,
# we don't really want to enforce or imply ownership of code, just interest.
#
# Anyone can work on anything.
#
# Prefer associating a "team" with a path rather than an individual. That allows individuals to
# move around without having to continually update this file.
#
# See https://help.github.com/en/articles/about-code-owners for details on the format of this file

# Root level files and configuration
/*.* @Automattic/team-calypso

# Scripts
/bin @Automattic/team-calypso

# Client initialization
/client/boot @Automattic/team-calypso

# Client blocks
/client/blocks/inline-help @Automattic/zelda

# Client state
/client/state/jetpack-connect @Automattic/luna
/client/state/signup @Automattic/zelda

# Client components
/client/components/site-verticals-suggestion-search @Automattic/zelda

# Client framework parts
/client/config @Automattic/team-calypso
/client/controller @Automattic/team-calypso
/client/document @Automattic/team-calypso
/client/layout @Automattic/team-calypso

# Client sites
/client/my-sites/checklist @Automattic/zelda

# Comments management
/client/my-sites/comment* @Automattic/serenity

# Developer guides
/docs/coding-guidelines @Automattic/team-calypso
/docs/guide @Automattic/team-calypso
/docs/testing @Automattic/team-calypso

# Gutenberg editor (Gutenframe)
/client/gutenberg @Automattic/serenity @Automattic/cylon @Automattic/ajax

# Jetpack Connect
/client/jetpack-connect @Automattic/luna

# Payments
/client/blocks/credit-card-form/ @Automattic/payments
/client/blocks/payment-methods/ @Automattic/payments
/client/blocks/subscription-length-picker/ @Automattic/payments
/client/components/credit-card/ @Automattic/payments
/client/components/credit-card-form-fields/ @Automattic/payments
/client/components/payment-country-select/ @Automattic/payments
/client/components/payment-logo/ @Automattic/payments
/client/lib/cart/ @Automattic/payments
/client/lib/cart-values/ @Automattic/payments
/client/lib/checkout/ @Automattic/payments
/client/lib/siftscience/ @Automattic/payments
/client/lib/simple-payments/ @Automattic/payments
/client/lib/store-transactions/ @Automattic/payments
/client/lib/stripe/ @Automattic/payments
/client/lib/transaction/ @Automattic/payments
/client/lib/upgrades/ @Automattic/payments
/client/me/billing-history/ @Automattic/payments
/client/me/memberships/ @Automattic/payments
/client/me/pending-payments/ @Automattic/payments
/client/me/purchases/ @Automattic/payments
/client/my-sites/checkout/ @Automattic/payments
/client/state/billing-transactions/ @Automattic/payments
/client/state/memberships/ @Automattic/payments
/client/state/order-transactions/ @Automattic/payments
/client/state/plans/ @Automattic/payments
/client/state/receipts/ @Automattic/payments
/client/state/simple-payments/ @Automattic/payments
/client/state/stored-cards/ @Automattic/payments
/client/state/sites/plans/ @Automattic/payments

# Reader
/client/reader @Automattic/reader
/client/blocks/reader-* @Automattic/reader
/client/state/reader @Automattic/reader

# Server infrastructure
/server @Automattic/team-calypso

# Signup
/client/signup @Automattic/zelda

# Test infrastructure
/test @Automattic/team-calypso

# Types, TypeScript, and type annotations
/client/types.ts @Automattic/type-review
/docs/coding-guidelines/typescript* @Automattic/type-review

# G Suite
/client/blocks/gsuite-stats-nudge @Automattic/catalyst
/client/components/marketing-survey/gsuite-cancel-purchase-dialog @Automattic/catalyst
/client/components/upgrades/gsuite @Automattic/catalyst
/client/lib/domains/email-forwarding @Automattic/catalyst
/client/lib/domains/google-apps-users @Automattic/catalyst
/client/lib/gsuite @Automattic/catalyst
/client/my-sites/domains/components/domain-warnings @Automattic/catalyst
/client/my-sites/email @Automattic/catalyst

# FSE (Full Site Editing)
/apps/full-site-editing @Automattic/serenity @Automattic/cylon @Automattic/ajax

# WPcom Block Editor
/apps/wpcom-block-editor @Automattic/serenity @Automattic/cylon @Automattic/ajax

fix(deps): update dependency flag-icon-css to v3.4.0
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

chore(deps): update dependency stylelint to v11
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

chore(deps): update dependency nock to v11
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

fix(deps): update dependency caniuse-lite to v1.0.30000997
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

fix(deps): update dependency acorn to v7
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

Add data fetching monitoring
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
Owners: @Automattic/serenity, @Automattic/cylon, @Automattic/ajax

fix(deps): update react monorepo to v16.9.0
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

Make the actions more consistent
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
Owners: @Automattic/serenity, @Automattic/cylon, @Automattic/ajax

fix(deps): update calypso-packages
  npm-shrinkwrap.json
  packages/calypso-build/package.json
Owners: @Automattic/team-calypso

Cancelation survey: ask import specific questions
  client/components/marketing-survey/cancel-purchase-form/index.jsx
  client/components/marketing-survey/cancel-purchase-form/steps-for-product-and-survey.js
  client/components/marketing-survey/cancel-purchase-form/steps.js
Owners: none

Adds privacy protection to domain products for cart after signup
  client/lib/signup/step-actions.js
Owners: none

Uses lib rather than relative path for product-values imports
  client/lib/signup/step-actions.js
Owners: none

chore(deps): update dependency @types/react to v16.9.3
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

Extracts setting domain privacy default for use in other flows
  client/lib/signup/step-actions.js
Owners: none

Removes unused imports
  client/lib/signup/step-actions.js
Owners: none

Remove logic for cases where blog posts page is unassigned; it no longer showed due to changes in #36129
  client/my-sites/pages/blog-posts-page/index.jsx
  client/my-sites/pages/blog-posts-page/style.scss
Owners: none

Update: Modify banner display logic to not show when user has active forwards on the domain, or has G Suite with us or another provider
  client/my-sites/stats/stats-banners/index.jsx
  client/state/selectors/get-email-forwarding-type.js
Owners: none

Copy fixes for Premium bump offer test
  client/my-sites/checkout/upsell-nudge/plan-upgrade-upsell/index.jsx
Owners: @Automattic/payments

Remove more unused logic; we no longer display a message showing the page title of the blog posts page.
  client/my-sites/pages/blog-posts-page/index.jsx
Owners: none

Popover: remove the rootClassName prop
  client/blocks/blog-stickers/index.jsx
  client/blocks/calendar-button/README.md
  client/blocks/calendar-button/index.jsx
  client/blocks/calendar-popover/README.md
  client/blocks/calendar-popover/index.jsx
  client/components/info-popover/index.jsx
  client/components/popover/README.md
  client/components/popover/index.jsx
  client/components/popover/menu.jsx
  client/components/tooltip/index.jsx
Owners: none

fix(deps): update dependency dompurify to v2
  npm-shrinkwrap.json
  package.json
Owners: @Automattic/team-calypso

Use typescript@latest for typecheck job
  .circleci/config.yml
Owners: @Automattic/team-calypso

Add and use a typecheck script
  .circleci/config.yml
  package.json
Owners: @Automattic/team-calypso

Further simplify the component, removing duplicated checks for homepage set as posts page, and add event tracking on the homepage callout click
  client/my-sites/pages/blog-posts-page/index.jsx
Owners: none

SignUp: Reuse the site title for the domains search
  client/signup/steps/domains/index.jsx
Owners: @Automattic/zelda

Add A/B test and logic
  client/components/domains/register-domain-step/index.jsx
  client/lib/abtest/active-tests.js
  client/signup/steps/domains/index.jsx
Owners: @Automattic/zelda

type in ab test name updated tracks property to snake case
  client/lib/abtest/active-tests.js
  client/signup/steps/domains/index.jsx
Owners: @Automattic/zelda

Update the domain search if the site title is changed and the user hasn't changed the domain search from the initial query
  client/signup/steps/domains/index.jsx
Owners: @Automattic/zelda

Set domain search `lastQuery` to the initial state's `lastQuery` if `isInitialQueryActive` is false.
  client/components/domains/register-domain-step/index.jsx
Owners: none

Popover: improve tabIndex value, remove isFocusOnShow prop
  client/components/domains/search-filters/dropdown-filters.jsx
  client/components/popover/README.md
  client/components/popover/index.jsx
Owners: none

Take care of images in the custom content filters
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template.php
Owners: @Automattic/serenity, @Automattic/cylon, @Automattic/ajax

On WPCOM use the WPCOM responsive images handlers
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template.php
Owners: @Automattic/serenity, @Automattic/cylon, @Automattic/ajax

Refactor actions after #35961
  apps/full-site-editing/full-site-editing-plugin/full-site-editing/templates/class-wp-template-inserter.php
Owners: @Automattic/serenity, @Automattic/cylon, @Automattic/ajax

move shouldNotDisplay to the connect function
  client/blocks/upgrade-nudge/index.jsx
Owners: none

update the readme
  client/blocks/upgrade-nudge-expanded/README.md
  client/blocks/upgrade-nudge/README.md
Owners: none

FormPhoneMediaInput: Refactor to functional component
  client/components/forms/form-phone-media-input/index.jsx
Owners: none

CreditCardFormFields: Handle phone changes differently
  client/components/credit-card-form-fields/index.jsx
Owners: @Automattic/payments

CreditCardFormFields: Add phone-number field
  client/components/credit-card-form-fields/index.jsx
Owners: @Automattic/payments

CreditCardFormFields: Hide phone if already showing
  client/components/credit-card-form-fields/index.jsx
Owners: @Automattic/payments

Create PhoneNumberField
  client/components/credit-card-form-fields/index.jsx
Owners: @Automattic/payments
